
.app-wrapper {
  display: grid;
  grid-template-columns: 2fr 10fr;
  grid-template-rows: 60px 1fr;
  width: 100%;
  margin: 0 auto;
  grid-template-areas: 
  "h h"
  "n c";
  grid-gap: 10px; 
}

.app-wrapper-content {
  grid-area: c;
  background-color: #c0c0c0;
 }
